<div class="container">
  <h3 class="h4 text-success font-weight-bold mb-4">Bienvenido</h3>
  <div class="row justify-content-center">
    <div class="col-lg-20">
      <div class="container">
        <div class="row">

      <div class="card card-lift--hover col-sm mb-3 shadow ml-3" style="max-width: 40rem;"> 
        <div class="card-body ">
          <h5 class="card-title">Misión</h5>
          <p class="card-text">Ser una fundación que ayude a mejorar el futuro de los niños que por diferentes circunstancias requieren de ayuda, nos enfocamos en la educación creyendo que a través de ella promovemos el desarrollo de los niños generando nuevas oportunidades. </p>
        </div>
      </div>
      <div class="card card-lift--hover col-sm  mb-3 shadow ml-3 " style="max-width: 40rem;"> 
        <div class="card-body">
          <h5 class="card-title">Visión</h5>
          <p class="card-text">Ser una fundación que impacte nuestra sociedad a través de nuestros programas sirviendo con pasión a quienes más lo necesitan </p>
        </div>
      </div>
    </div>
  </div>
      <div class="card  mb-1 border-bottom" > 
        <div class="card-body">
          <h5 class="card-title">¿CÓMO FUNCIONA?</h5>
          <p class="card-text">Hemos desarrollado un sistema automatizado financiero de donación en donde podrás ayudar a ser parte del cambio generacional aportando a nuestra fundación pero además obtienes el beneficio de ingresar a una red de grupo solidario en donde podrás capitalizarte, mejorando tu estilo de vida. </p>
        </div>
      </div>
      <!-- Tabs with icons -->
      <section id="faqs" class="fadeIn">

        <h2>Preguntas frecuentes</h2><hr>        
        
        <!--INICIO: PREGUNTA-->
            <div class="span5 fblanco">
            <blockquote>
                  <h3>¿Es legal?</h3>
                  <small>por FundacionVidaDignaySolidaria</small>
                  <p>Artículo 2332. Donación Una persona transfiere a otra, gratuitamente, una parte o la totalidad de sus bienes presentes. Formamos grupos de ayuda mutua en donde cada persona participa voluntariamente.</p>
            </blockquote>
          </div>	
        <!--FIN: PREGUNTA-->
        <!--INICIO: PREGUNTA-->
        <div class="span5 fblanco">
          <blockquote>
                <h3>¿Hay algún riesgo? </h3>
                <small>por FundacionVidaDignaySolidaria</small>
                <p>Existen dos tipos de personas, las que avanzan y están las personas que ven a otros avanzar, el sistema está desarrollado para que todos sean beneficiados, solo que dependerá de tu visión para lograr tus sueños.</p>
          </blockquote>
        </div>	
      <!--FIN: PREGUNTA-->
      <!--INICIO: PREGUNTA-->
      <div class="span5 fblanco">
        <blockquote>
              <h3>¿Cómo puedo lograr mis sueños?</h3>
              <small>por FundacionVidaDignaySolidaria</small>
              <p>Aprende a invertir, compartir y recibir, una vez que ingreses al sistema debes prospectar e invitar a personas como tu, con deseos de superación, motivación y creyendo que están en el camino correcto para trabajar unidos y lograr como equipo los sueños de cada uno.</p>
        </blockquote>
      </div>	
    <!--FIN: PREGUNTA-->
    <!--INICIO: PREGUNTA-->
    <div class="span5 fblanco">
      <blockquote>
            <h3>¿Por qué debo confiar en FUNDACIÓN VIDA DIGNA Y SOLIDARIA A.C.?</h3>
            <small>por FundacionVidaDignaySolidaria</small>
            <p>Hoy en día es muy difícil obtener donadores para que la fundación logre el objetivo de ayudar a los niños que tienen carencias, no somos una organización gubernamental es por ello que creamos un sistema financiero exponencial en donde no solo beneficias a los que menos tienen sino también tienes la oportunidad de generar el flujo de efectivo ayudando a las personas a ayudar a otros. </p>
      </blockquote>
    </div>	
  <!--FIN: PREGUNTA-->
  <!--INICIO: PREGUNTA-->
  <div class="span5 fblanco">
    <blockquote>
          <h3>¿En donde se ubica la oficina? </h3>
          <small>por FundacionVidaDignaySolidaria</small>
          <p>Calle Tulipanes No.108 Colonia las flores, Oaxaca de Juárez, oax.</p>
    </blockquote>
  </div>	
<!--FIN: PREGUNTA-->
<!--INICIO: PREGUNTA-->
<div class="span5 fblanco">
  <blockquote>
        <h3>¿En que tiempo recibo los ingresos generados?</h3>
        <small>por FundacionVidaDignaySolidaria</small>
        <p>72 horas hábiles</p>
  </blockquote>
</div>	
<!--FIN: PREGUNTA-->
      </section>
    </div>
    
  </div>
</div>

  