<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section >
        <div class="col px-0">
          <div class="row">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <div class="card ">
                  <img src="./assets/img/brand/manos.jpg" class="card-img-top animate__animated animate__fadeInUp" alt="...">
  
                </div>
              </div>
              <div class="col">
                <div class="card ">
                  <img src="./assets/img/brand/manoamano.jpg" class="card-img-top animate__animated animate__fadeInUp" alt="...">
     
                </div>
              </div>
              <div class="col">
                <div class="card ">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">SUMANDO LO QUE RECIBIRÁS DEL 
                        CICLO I AL CICLO VII, HACEN UN TOTAL DE 
                        $174,00.00
                        </h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
     
                </div>
              </div>
             
            </div>
            
          </div>
        </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
<section>
<h1 style="text-align: center;" >SISTEMA FINANCIERO EXPONENCIAL</h1>
    <!-- CICLO 1 -->
    <div class="d-flex justify-content-start">
<div class="row mb-5">
 
  <div class="col-sm"> 
  <table class="table table-striped table-hover table-ligth" style="text-align:center;">
    <thead> 
      <tr >
        <th scope="col" colspan="4" >CICLO 1</th>  
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col" colspan="4" >TU $250</th>  
      </tr>
      <tr>
        <td>Invitado 1 $200</td>
        <td>Invitado 2 $200</td>
        <td>Invitado 3 $200</td>
        <td>Invitado 4 $200</td>
      </tr>
    </tbody>
  </table>
  </div>
  
  </div>
  <ol class="list-group list-group-numbered">
    <li class="list-group-item">Donación de $200.00</li>
    <li class="list-group-item">$100.00 de Fundación</li>
    <li class="list-group-item">$100.00 a sistema financiero</li>
  </ol>
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-success">Recibes $100.00</li>
    <li class="list-group-item">Ciclo 2 $300.00</li>
  
  </ul>
</div>
  <!-- CICLO 2 -->
  <div class="d-flex justify-content-end">
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-success">Recibes $300.00</li>
      <li class="list-group-item">$100.00 a Fundación</li>
      <li class="list-group-item">Ciclo 3 $800.00</li>
    
    </ul>
<div class="row">
  
  <div class="col-sm"> 
    
  <table class="table table-striped table-hover table-primary" style="text-align:center;">
    <thead> 
      <tr >
        <th scope="col" colspan="4" >CICLO 2</th>  
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col" colspan="4" >TU $300</th>  
      </tr>
      <tr>
        <td>SOCIO  1 $300</td>
        <td>SOCIO  2 $300</td>
        <td>SOCIO  3 $300</td>
        <td>SOCIO  4 $300</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
</div>
<!-- CICLO 3 -->
<div class="d-flex justify-content-start">
<div class="row">
  <div class="col-sm"> 
  <table class="table table-striped table-hover table-primary" style="text-align:center;">
    <thead> 
      <tr >
        <th scope="col" colspan="4" >CICLO 3</th>  
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col" colspan="4" >TU $800</th>  
      </tr>
      <tr>
        <td>SOCIO  1 $800</td>
        <td>SOCIO  2 $800</td>
        <td>SOCIO  3 $800</td>
        <td>SOCIO  4 $800</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item list-group-item-success">Recibes $1000.00</li>
  <li class="list-group-item">$200.00 a Fundación</li>
  <li class="list-group-item">Ciclo 3 $2,000.00</li>

</ul>
</div>
<!-- CICLO 4 -->
<div class="d-flex justify-content-end">
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-success">Recibes $2000.00</li>
    <li class="list-group-item">$500.00 a Fundación</li>
    <li class="list-group-item">Ciclo 3 $5,500.00</li>
  </ul>
<div class="row">
  <div class="col-sm"> 
  <table class="table table-striped table-hover table-primary" style="text-align:center;">
    <thead> 
      <tr >
        <th scope="col" colspan="4" >CICLO 4</th>  
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col" colspan="4" >TU $2,000</th>  
      </tr>
      <tr>
        <td>SOCIO  1 $2,000</td>
        <td>SOCIO  2 $2,000</td>
        <td>SOCIO  3 $2,000</td>
        <td>SOCIO  4 $2,000</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
</div>
<!-- CICLO 5 -->
<div class="d-flex justify-content-start">
<div class="row">
  <div class="col-sm"> 
  <table class="table table-striped table-hover table-success" style="text-align:center;">
    <thead> 
      <tr >
        <th scope="col" colspan="4" >CICLO 5</th>  
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col" colspan="4" >TU $5,500</th>  
      </tr>
      <tr>
        <td>SOCIO  1 $5,500</td>
        <td>SOCIO  2 $5,5200</td>
        <td>SOCIO  3 $5,500</td>
        <td>SOCIO  4 $5,500</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item list-group-item-success">Recibes $6,000.00</li>
  <li class="list-group-item">$1,000.00 a Fundación</li>
  <li class="list-group-item">Ciclo 3 $15,000.00</li>
</ul>
</div>
<!-- CICLO 6 -->
<div class="d-flex justify-content-end">
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-success">Recibes $15,000.00</li>
    <li class="list-group-item">$5,000.00 a Fundación</li>
    <li class="list-group-item">Ciclo 3 $40,000.00</li>
  </ul>
<div class="row">
  <div class="col-sm"> 
  <table class="table table-striped table-hover table-success" style="text-align:center;">
    <thead> 
      <tr >
        <th scope="col" colspan="4" >CICLO 6</th>  
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col" colspan="4" >TU $15,000</th>  
      </tr>
      <tr>
        <td>SOCIO  1 $15,000</td>
        <td>SOCIO  2 $15,000</td>
        <td>SOCIO  3 $15,000</td>
        <td>SOCIO  4 $15,000</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
</div>
<!-- CICLO 7 -->
<div class="d-flex justify-content-start">
<div class="row">
  <div class="col-sm"> 
  <table class="table table-striped table-hover table-warning " style="text-align:center;">
    <thead> 
      <tr >
        <th scope="col" colspan="4" >CICLO 7</th>  
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col" colspan="4" >TU $40,000</th>  
      </tr>
      <tr>
        <td>SOCIO  1 $40,000</td>
        <td>SOCIO  2 $40,000</td>
        <td>SOCIO  3 $40,000</td>
        <td>SOCIO  4 $40,000</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item list-group-item-success">Recibes $150,000.00</li>
  <li class="list-group-item">$9,700.00 a Fundación</li>
  <li class="list-group-item">Ciclo 2 $300.00</li>
</ul>
</div>
</section>
</main>
