<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
   
      <!-- Background circles -->
      <header class = "masthead">

      <div class="container">
        <div class="row">
          <div class="col">

            <div class="row justify-content-center">
              <div class="col-lg-20">
                <div class="container">
                  <div class="row">
                <div class="card bg-person card-lift--hover col-sm mb-3 shadow ml-3" style="max-width: 40rem; color:rgba(0, 48, 102, 0.931);"> 
                  <div class="card-body ">
                    <h5 class="card-title">Misión</h5>
                    <p class="card-text">Ser una fundación que impacte nuestra sociedad a través de nuestros programas, sirviendo con pasión a quienes más lo necesitan.
                    </p>
                  </div>
                </div>
              </div>
          <div class="row">
                <div class="card bg-person card-lift--hover col-sm  mb-3 shadow ml-3 " style="max-width: 40rem;"> 
                  <div class="card-body">
                    <h5 class="card-title">Visión</h5>
                    <p class="card-text">Ser una fundación que ayude a mejorar el futuro de los niños, enfocándonos en la educación creyendo que a través de ella promovemos el desarrollo de los niños generando nuevas oportunidades.
                    </p>
                  </div>
                </div>
              </div>
            </div>
           <!--  <app-sections></app-sections> -->
          </div>
        </div>
      </div>
        <div class="col-sm">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-8 text-center card-lift--hover">
              <img src="./assets/img/brand/logo.png" style="width: 400px;" class="img-fluid rounded" alt="Responsive image">
              
              <p class="lead text-white">Unidos en amor y esperanza</p>
         <!-- <div class="btn-wrapper mt-5">
                <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-index-header" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                  <span class="btn-inner--text">Download Angular</span>
                </a>
                <a href="https://github.com/creativetimofficial/argon-design-system-angular?ref=adsa-index-header" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                  <span class="btn-inner--icon"><i class="fa fa-github"></i></span>
                  <span class="btn-inner--text">
                    <span class="text-warning">Star us</span> on Github</span>
                </a>
              </div>--> 
              <div class="mt-5">
                <small class="text-white font-weight-bold mb-0 mr-2">fundacion vida digna y solidaria a.c.</small>
          
              </div>
              
            </div>
            
          </div>
          
        </div>
        <div class="col-sm">

          <div class="row justify-content-center">
            <div class="col-lg-20">
              <div class="container">
                <div class="row">
              <div class="card bg-person card-lift--hover col-sm mb-3 shadow ml-3" style="max-width: 40rem;"> 
                <div class="card-body ">
                  <h5 class="card-title">¿Quiénes somos?</h5>
                  <p class="card-text">Somos una organización no gubernamental, que trabaja para el beneficio de la niñez, mediante la cooperación solidaria de los ciudadanos para la realización de proyectos que permitan mejorar las condiciones de vida de la población infantil de escasos recursos, a través de programas educativos (Asesorías de nivel primaria), Artes (Música, Ballet, Pintura) y alimenticios (Comedor).</p>
                </div>
              </div>
            </div>
          </div>
         <!--  <app-sections></app-sections> -->
        </div>
      </div>
    </div>
       
  </div>
</div>
    </header>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    
  </div>
  
  
</main>
