.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }

  .masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 0rem 0; 
    margin-left: 0rem;
    background:  url("/assets/img/brand/masthead.png");
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: contain;
  }